body{background-color:hsl(0,0%,47%);}
header{text-align:center;background-color:darkslateblue;color:white;padding:15px;}
footer{background-color:darkslateblue;text-align:center;color:white;}
.container{background-color:lavender;padding:40px;margin:40px;border-radius:30px;}
nav{background-color:lavender;color:white;text-align:center;
font-size:20px;padding:20px;}
nav a{padding:10px;
text-decoration:none;}
nav a:hover{color:blue;}